
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Common Style Css Design */
*{
    box-sizing: border-box;    
    margin: 0;
    padding: 0;
   
}
body {
    font-family: "Poppins", sans-serif;
    --color1:#181818   ;
    --color2: #FFF;
    --color3: #424247;
}
.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.container > section{
    margin-top: 4rem;
}
/* End Common Style Css Design */


/* Start NavBar Design */

.logo-title{
    color: var(--color1);
    font-size: 1.75em;
    font-weight: 800;
}
.logo-title .trips{
    color: #FF5400;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}
.logo img {width: 40px;}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color3);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-size: 18px;
}
nav>ul>li{
    display: flex;
    align-items: center;
    justify-items: center;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.home-active a{
    color: #FF5400 !important;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
/* End NavBar Design */


/* Start Hero Section style*/
.hero{
    background-image: url('../images/hero-image.png');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-radius: 16px;
    background-repeat: no-repeat;
    margin-top: 60px;
    display: grid;
    place-content: center;
    text-align: center;
    min-height: 500px;
    position: relative;
    isolation: isolate;
}
.hero::after{
    content: '';
    position: absolute;
    z-index: -1;
    opacity: 0.1;
     background: linear-gradient(180deg, rgba(0, 0, 0, 0.265) 0%, rgba(8, 8, 9, 0.078) 0%); 
}
.hero-text{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
}
.hero-text h2{
    font-size: 4rem;
    padding: 0 0 1.25rem 0;
}
.hero-text p{
    font-size: 1rem;
    padding: 0 0 1rem 0;
}

 .input-div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    background: rgba(255, 255, 255, 0.30);
    padding: 1rem;
    border-radius: 1rem;  
 }
 .input-box{
    background-color: #fff;
    max-width: 24rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: 0 1rem;
    color: #000; 
 }
 .input-box input{
    border: none;
 }
 #input-4,  #input-4 input{
    background-color: #FF5400;
    color: #fff;
    font-weight: 700;
 }

 /*     End Hero Section style*/




/* Start Popular Section  */

.popular-tours{ 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.popular-tours-image img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 16px;
}

.popular-tours-text, .popular-tours-image{
    grid-column: auto/span 6;
}

.popular-tours-text h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 1rem;
}
.popular-tours-text p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    line-height: 24px;
}
.popular-tours-text ul{
    padding-left: 1rem; 
    color: rgba(19, 19, 24, 0.70);
}
.popular-tours-text ul li{
    line-height: 1.5rem;
}
/* End Popular Section */

/* Start Destination Section */

.destination-section h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0.75rem;
}
.destination-section p{
    margin-bottom: 1.5rem;
    color: rgba(19, 19, 24, 0.70);
}
/* End Destination Section */



/* End Popular Section  */

/* Start Touring Spot Section */


.item {
    position: relative;
    height: 300px;
    text-align: center;
}
.text-above{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.306);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 18px;
    overflow: hidden;
    cursor: pointer;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.gallery img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.item-1{
    grid-column: auto/span 6;
}
.item-2{
    grid-column: auto/span 6;
}
.item-3{
    grid-column: auto/span 4;
}
.item-4{
    grid-column: auto/span 5;
}
.item-5{
    grid-column: auto/span 3;
}
.item-6{
    grid-column: auto/span 5;
}
.item-7{
    grid-column: auto/span 7;
}

/* End Touring Spot Section */

/* Start Choose Section */
.choose-us-section h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0.75rem;

}
.choose-us-section h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 1rem;
}

.choose-us-section p{
     margin-bottom: 1rem;
     color: rgba(19, 19, 24, 0.70); 
     line-height: 1.5rem;
}
   
    .choose-us-box{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 18px;
        justify-content: center;
        align-items: center;
        border-radius: 18px;
    }
    .choose-us-1, .choose-us-2, .choose-us-3{
        border: 1px  solid red;
        max-width: 500px;
        width: 100%;
        min-height: 300px;
        padding: 24px;
        border-radius: 16px;
        line-height: 1.5rem;
    }

  .choose-us-1{    
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05); 
    grid-column: auto/span 6;
    }
    .choose-us-2{
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
        grid-column: auto/span 6;
    }
    .choose-us-3{
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);
         grid-column: 4/span 6;
    }

/* End Choose Section */
.common-button{
    color: #FFF;
    border-radius: 8px;
    background: #FF5400;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    padding: 12px 1.5rem;
    
}
.common-section-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.common-text-design{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

/* Start Deal & Discount Section */
/* End Deal & Discount Section */
.discount-section h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0.75rem;

}
.discount-section h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;

}

.discount-section p{
     margin-bottom: 1rem;
     color: rgba(19, 19, 24, 0.70); 
     line-height: 1.5rem;
}
.card>*{
    margin-bottom: 1rem;
    border-radius: 14px;
}
.card-image-1,  .card-image-3{
    background-image: url('../images/Group\ 39.png');
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 55px 56px;
}
.card-image-2{
    background-image: url('../images/Group\ 39.png');
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    padding: 55px 56px;
}

.box-1, .box-2, .box-3{
    width: 576px;
    max-width: 100%;
    border-radius: 16px;
    height: auto;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    padding: 1.5rem;
}
.box-1  span, .box-2 span, .box-3 span{
    margin-right:1.5rem ;
    text-align: center;
    margin-bottom: 12px;
}
.card h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.card p{
    color: rgba(19, 19, 24, 0.70); 
    font-size: 1rem;
    padding: 16px 0;
}

.package-price{
    color: #FF5400;

font-size: 20px;

font-weight: 800;

}
.package-btn{
    
    color: #FFF;
    border-radius: 8px;
    background: #FF5400;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    padding: 12px 2rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
#youtube-image{
    width: 100%;
    max-width: 610px;
    max-height: 424;
    height: 100%;
    margin-top: 30px;
}


.picks-package-heading-text{
    display: flex;
    align-items: center;   
}
.picks-logo-title{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 1.5rem;

}
.picks-trips{
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
    }
    .picks-package{
      
        display: flex;
        align-items: center;
   
        justify-content: space-around;
        gap: 2rem;
        margin-top: 0;
      
    } 

    .picks-tours-text > *{
        margin-bottom: 1.5rem;
    }
    .popular-tours-image img{
        width: 100%;
        max-width: 562px;
        height: 100%;
        max-height: 424px;

    }
    .picks-trips{
        color: #FF5400;
        font-family: Mulish;
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
    }
    .position-image{
        position: relative;
        bottom: 70px;
        right: 100px;
    }
    .position-image img{
        width: 100%;
        max-width: 305px;
        max-height: 214px;
        height: 100%;
    }
    .destination-image>span{
        color: #FFF;
        font-size: 28px;
        font-weight: 800;
    }
    .newsletter{
        
        display: flex;
        align-items: center;

        justify-content: space-between;
        gap: 3rem;
        padding: 40px 0;

    }
    .newletter-img{
        padding-top: 1rem;
    }
    .newsletter-title{
        color: #131318;
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 1rem;
        margin-top: 2rem;
            }
    .newsletter-description{
        color: #5A5A5D;
        font-size: 16px;
    }
    form{
        border-radius: 16px;
        border: 1px solid #FF5400;
        padding: 2.6rem 1rem 3rem;
        width: 100%;
        max-width: 575px;
      
    }
    form input{
        width: 100%;
        padding: 0.8rem 0;
        margin-bottom: 1rem;
        margin-top: 1rem;
        border-radius: 10px;
        border:0;
        background-color: #ffdfdf;
    }
    form input::placeholder{
        padding-left: 1rem;
    }
    .btn-subscribe{
        border-radius: 8px;
        background: #FF5400;
        color: #fff;
        
    }
    .newletter-img{
        position: relative;
    }
    .newletter-img img{
        width: 100%;
        max-width: 672px;
        height: 422px;
        max-height: 100%;
    }
    .newsletter-card{
        background-color: red;
        color: #fff;
        width: 40%;
        text-align: center;
        border-radius: 10px;
        padding: 12px;
        position: absolute;
        right: 0;
        bottom: 15%;
        transform: rotate(-45deg);
 
    }
    .web-name{
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-weight: 400;

    }
    hr{
        margin-top: 1rem;
    background: rgba(19, 19, 24, 0.10);
    }
    .footer{
        padding-top: 110px;
        background: rgba(19, 19, 24, 0.05);
    }

    .footer-text{
          display: flex;
         align-items: center;
         justify-content: center;
    }
    .footer-description{
       color: #5A5A5D;
        font-size: 16px; 
        text-align: center; 
        margin-bottom: 2rem;
    }
    .icon{
        font-size: 2rem;
        /* text-align: center; */
        display: flex;
        margin-top: 2rem;
        justify-content: center;
        gap: 1rem;
    }
    small{
        display: flex;
        margin-top: 100px;
        justify-content: center;
    }












/* Media Screen Responsive */
@media screen and (max-width:600px) {
 
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}


/* Popular Section for Mobile */
.position-image,.input-div, .popular-tours, .gallery, .choose-us-box{
    grid-template-columns: 1fr;
    row-gap: 1rem; 
}

.hero-text{
    width: 100%;
    padding: 0.5rem 0 ;
}
.hero-text h2{
    font-size: 2rem;
    font-weight: 800;  
}

.common-button-main{
    color: #000;
    border-radius: 8px;
    background: #FF5400;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    padding: 12px 3rem;
}
/* End Hero Section for Mobile */

/* Start Popular Touring Spot Section */
.container > section{
    margin-top: 1rem;
}
.common-text-design{
    width: 100%; 
}

.popular-tours-text h2,.destination-section h2, .choose-us-section h2,.discount-section h2{
    font-size: 1.5rem;
}
.choose-us-section h3, .discount-section h3, .card h3{
    font-size: 1.25;

}
.card p{
    font-size: 0.75rem;
    padding: 8px 0;
}

.gallery .item, .choose-us-1, .choose-us-2, .choose-us-3{    
    grid-column: auto;
 }
 
.box-1, .box-2, .box-3{
    width: 100%;
    height: auto;
    font-size: 0.75rem;
}

.box-1  span, .box-2 span, .box-3 span{
    margin-right:0.5rem ;

}

.newsletter{
        flex-direction: column;
        gap: 1rem;
        padding: 12px 0;
}
.picks-package-heading-text{
    flex-direction: row;
     justify-content: center;
}
.picks-logo-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 0.8rem;

}
 .position-image{
        position: static;
        display: flex;
        justify-content: center;
    
        margin: 0 auto; 
    }
       .picks-package{
     
        flex-direction: column;   
      
    } 
    .newsletter-card{
        position: static;
        transform: rotate(0deg);  
        width: 50%;
        padding: 12px;
        margin: 0 auto;
     
    }
    
}